parameters:
    api:
        error: Demo\User\ErrorHandler
        middleware:
            before:
                - Demo\User\Middleware\LoginMiddleware
                - Demo\User\Middleware\DecodeJsonMiddleware
        routes:
            '/user':
                get: Demo\User\Controller\UserListController
                post:
                    controller: Demo\User\Controller\UserCreateController
                    middleware:
                        before:
                            - Demo\User\Middleware\UserValidatorMiddleware

            '/user/{userId}':
                get: Demo\User\Controller\UserDetailController
                put: Demo\User\Controller\UserUpdateController
                delete: Demo\User\Controller\UserDeleteController